---

- name: ZSH is installed
  become: "yes"
  package:
    name: zsh

- name: Command Line Apps are Installed
  become: "yes"
  package:
    name: "{{ item }}"
    state: latest
  loop: "{{ cli_apps }}"

- name: Antidote is installed
  git:
    repo: https://github.com/mattmc3/antidote
    dest: ~/.antidote
    # zplug often makes changes to itself
    force: "yes"
    update: "yes"

- name: ZSH as default shell
  become: "yes"
  user:
    name: "{{ ansible_user_id }}"
    shell: /bin/zsh

- name: configuration files are linked
  file:
    state: link
    src: "{{ role_path }}/files/{{ item }}"
    path: ~/.{{ item }}
  with_items:
    - p10k.zsh
    - zshrc
    - zsh_plugins.txt
    - tigrc
    - dircolors

- name: local man directory
  file:
    state: directory
    mode: 0700
    path: ~/man/man1
    recurse: true
